.filterColumn {
    flex: 0 0 100%;
    max-width: 100%;

    @media #{$m992} {
        flex: 0 0 10%;
        max-width: 10%;
        order: 3;
    }

    &:nth-child(2) {
        @media #{$m992} {
            order: 1;
            flex: 0 0 40%;
            max-width: 40%;
        }
    }

    &:nth-child(3) {
        display: flex;
        justify-content: center;
        margin: 30px auto;

        @media #{$m992} {
            order: 2;
            flex: 0 0 45%;
            max-width: 45%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 0;
        }
    }
}