// FONTS

$medium-font-size: 14px;
$small-font-size: 12px;

// COLORS

$mainColor: #0066c3;
$secundaryColor: #c1dcf5;
$white: white;
$gray: #7d7d7e;
$lightGray: #9f9e9e;
$red: #d66e6b;

// BORDERS

$inputBorder: 1px solid $lightGray;
$productCardBorder: 1px solid $secundaryColor;


// MEDIA QUERYS

$m992: "only screen and (min-width : 992px)";
$max320: "only screen and (max-width: 320px)";
